---
import DarkModeToggle from "../components/DarkModeToggle";
import Layout from "./Layout.astro";

interface Props {
    title: string;
    lastUpdated: Date;
    createdAt: Date;
    author: string;
}

const { title, createdAt, lastUpdated, author } = Astro.props;
---

<Layout title={`${title} | Nahal's Notes`}>
    <main class="h-screen w-fit m-auto p-6">
        <DarkModeToggle client:load />
        <header class="mb-8">
            <h1 class="text-5xl mb-2 dark:text-slate-300 font-bold tracking-wide">{title}</h1>
            <p class=" text-slate-500 text-sm">Created by {author} on {createdAt.toLocaleDateString()}, last updated on {lastUpdated.toLocaleDateString()}</p>
        </header>
        <article class="prose lg:prose-lg prose-slate dark:prose-invert prose-headings:tracking-wide">
            <slot />
        </article>
    </main>
</Layout>
